{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-fluid p-3 bg-info">

    <div class="container-fluid bg-dark text-light">
        <h1>Page d'accueil</h1>
        <p class="text-uppercase">J'utilise une classe bootstrap pour mettre le texte en uppercase</p>
        <p>Ici j'aimerais bien aller à la page d'essai <a href="{{ path('app_essai') }}">Page d'essai</a></p>
    </div>




</div>
{% endblock %}
